<!DOCTYPE html>
<html lang="en" ng-app="lab6App">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <title>Mishka</title>

    <script src="/static/node_modules/angular/angular.js"></script>
    <script src="/static/node_modules/angular-animate/angular-animate.js"></script>
    <script src="/static/node_modules/angular-aria/angular-aria.js"></script>
    <script src="/static/node_modules/angular-sanitize/angular-sanitize.js"></script>
    <script src="/static/node_modules/angular-route/angular-route.js"></script>
    <script src="/static/node_modules/angular-resource/angular-resource.js"></script>
    <script src="/static/node_modules/angular-messages/angular-messages.js"></script>

    <script src="/static/app/js/app.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!--<link rel="stylesheet" href="/static/node_modules/normalize.css/normalize.css">-->

    <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/static/app/css/app.css">
</head>
<body id="wrapper" ng-controller="RssCtrl">
<section class="layout" ng-class="{'active': state == 'step-1'}">
    <div class="container-fluid">
        <div class="col-xs-4 menu">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <input type="text" ng-model="newTapeUrl" class="form-control">
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-primary" ng-click="addTape();">ADD</button>
                        </div>
                    </div>
                </li>
                <li class="list-group-item" ng-repeat="tape in tapes" ng-class="{'active': tape['_id']['$oid'] == currentTape}" ng-click="setTape(tape['_id']['$oid']);">
                    <div class="row">
                        <div class="col-xs-10">
                            {{tape['url']}}
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-primary" ng-click="reloadTape();">RELOAD</button>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="pagination">
                <li ng-repeat="pageObj in paginationCollection" ng-class="{'active':pageObj.number == page}">
                    <a href="#" ng-click="setPage(pageObj.number)">{{pageObj.number+1}}</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-8">
            <ul class="list-group records">
                <li class="list-group-item record-item" ng-repeat="record in records">
                    <div class="row">
                        <div class="col-xs-12" ng-bind-html="record['summary']">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" ng-bind="record['published']">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <a target="_blank" href="{{record['link']}}">
                                {{record['link']}}
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    </div>
</section>
</body>
</html>